body{
    background-color:#fdfdfd;
    color:black;
    font-family: 'Comic Neue', cursive;
}
.hh{
    height: 550px;
    width: 400px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
}
span{
    font-weight: bold;
}